################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/web210b/FileContentIndex/4270f3ae-7d45-4d08-bb75-76e36ca8e98c.vsidx
